include LICENSE-MIT README.md requirements.pip
recursive-include lilac/resources *
recursive-exclude lilac/resources/classic/.sass-cache *
recursive-exclude lilac/ .*.swp
recursive-exclude lilac/ .*.swo
global-include *.py
