{% extends "layout.html" %}
{% block css_this_page%}post.css{% endblock %}
{% block title %}{{post.title}} {% endblock %}
{% block content%}
<h1 class="title">{{post.title}}</h1>
<p class="separator"><span class="date">{{post.datetime.strftime("%b  %d, %y")}}</span></p>
<div class="post-html">{{post.html}}</div>
<div class="tags">
  {%for tag in post.tags%}
  <a href="/tag/{{tag}}.html">{{tag}}</a>
  {%endfor%}
</div>
<p class="separator"><span class="showsource"><a href="/src/post/{{post.name}}.md">Show Source</a></span></p>
<div class="cut">* * *</div>
{# comments here#}
{# if petal defined,use petal else duoshuo #}
{% if post.petal is defined %}
<!-- jquery required -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<!-- petal begin -->
<link rel="stylesheet" href="http://hit9.org/petal/css/petal.min.css" type="text/css" />
<script src="http://hit9.org/petal/build/petal.min.js" type="text/javascript" charset="utf-8"></script>
<script>
    $(document).ready(function(){  // important!
      $.petal.init("{{post.petal.repo}}", {{post.petal.issue_id}}) // $.petal.init(repo, issue_id)
    })
</script>
<div class="petal"></div>
<!-- petal end -->
{% else %}
<!-- Duoshuo Comment BEGIN -->
<div class="ds-thread"></div>
<script type="text/javascript">
  var duoshuoQuery = {short_name:"hit9org"};
  (function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';ds.async = true;
    ds.src = 'http://static.duoshuo.com/embed.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0] 
     || document.getElementsByTagName('body')[0]).appendChild(ds);
  })();
</script>
<!-- Duoshuo Comment END -->
{% endif %}
{%endblock%}
